@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
/*@import "tailwindcss/preflight.css" layer(base);*/
@import "tailwindcss/utilities.css" layer(utilities);

body {
  font-family: -apple-system, system-ui, sans-serif;
  color: #000;
}

a {
  color: #2563EB;
}
a:hover {
  text-decoration: underline;
}

input[type="submit"] {
  @apply cursor-pointer
}
